<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head th:replace="layout/base :: head"></head>
<header th:replace="layout/base :: navigation"></header>
<main style="background-color: #e0e0e0; border: 1px solid #ccc; border-radius: 5px; box-shadow: 2px 2px 12px rgba(0, 0, 0, 0.2);">
    <h1 th:text="${pageTitle}" class="text-center w-100 mt-3">Page Title</h1>
    <section th:fragment="content">
        <a th:if="${user.isAdmin}" th:href="@{/user/users?role=admin}">Back to Admin List</a>
        <a th:unless="${user.isAdmin}" th:href="@{/user/users?role=merchant}">Back to Merchants List</a>

        <div th:action="@{/user/users/edit/{id}(id=${user.id})}" style="max-width: 600px; background-color: transparent; margin: 0 auto;" th:object="${user}" method="post">            <div>
                <label for="username">Username:</label>
                <input type="text" id="username" th:field="*{username}" required>
            </div>
            <div>
                <label for="email">Email:</label>
                <input type="email" id="email" th:field="*{email}" required>
            </div>
            <div>
                <label for="isAdmin">Is Admin:</label>
                <input type="checkbox" id="isAdmin" th:field="*{admin}">
            </div>
            <div>
                <label for="active">Active:</label>
                <input type="checkbox" id="active" th:field="*{active}">
            </div>
            <button type="submit">Save Changes</button>
        </div>
        <a href="#" onclick="history.back()">Back</a>
    </section>
</main>
<footer></footer>
</html>
