<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Form Users</title>
    <link rel="stylesheet" th:href="@{/css/users.css}">
</head>
<head th:replace="layout/base :: head"></head>
<header th:replace="layout/base :: navigation"></header>
<body>
<h1 th:text="${pageTitle}" class="text-center w-100 mt-3">Page Title</h1>
<main>
    <section class="container">
        <p class="hidden">Click the names to see more data.</p>
        <table>
            <thead>
            <tr class="table-headers">
                <th th:text="${role + ' Name'}">User Name</th>
                <th>Email</th>
                <th>Active</th>
                <th>Is Admin</th>
                <th>Actions</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="user : ${userPage.content}">
                <td th:text="${user.username}"></td>
                <th class="mobile-header">Email</th><td th:text="${user.email}"></td>
                <th class="mobile-header">Active</th><td th:text="${user.active} ? 'Yes' : 'No'"></td>
                <th class="mobile-header">Is Admin</th><td th:text="${user.isAdmin} ? 'Yes' : 'No'"></td>
                <td>
                    <div style="display: flex;">
                        <a th:href="@{/user/users/{id}(id=${user.id})}" aria-label="View User" class="button-table">View</a>
                        <a th:href="@{/user/users/edit/{id}(id=${user.id})}" aria-label="Edit User" class="button-table">Edit</a>

                        <a th:if="${user.active}" href="#" th:href="@{/user/users/deactivate/{id}(id=${user.id})}" aria-label="Deactivate User"
                           onclick="event.preventDefault(); document.getElementById('deactivate-form-${user.id}').submit();" class="button-table">
                            Deactivate
                        </a>
                        <form th:if="${user.active}" th:id="'deactivate-form-' + ${user.id}" th:action="@{/user/users/deactivate/{id}(id=${user.id})}" method="post" style="display:none;">
                        </form>

                        <a th:if="${!user.active}" href="#" th:href="@{/user/users/activate/{id}(id=${user.id})}" aria-label="Activate User"
                           onclick="event.preventDefault(); document.getElementById('activate-form-${user.id}').submit();" class="button-table">
                            Activate
                        </a>
                        <form th:if="${!user.active}" th:id="'activate-form-' + ${user.id}" th:action="@{/user/users/activate/{id}(id=${user.id})}" method="post" style="display:none;">
                        </form>
                    </div>
                </td>

            </tr>
            </tbody>
        </table>
        <div class="pagination-container">
            <nav aria-label="Page navigation">
                <ul class="pagination justify-content-center">
                    <li class="page-item" th:classappend="${!userPage.hasPrevious()} ? 'disabled'">
                        <a class="page-link" th:href="@{/user/users(role=${role}, page=${userPage.number - 1}, size=${userPage.size})}" aria-label="Previous Page">Previous</a>
                    </li>
                    <li class="page-item" th:each="page : ${#numbers.sequence(0, userPage.totalPages - 1)}"
                        th:classappend="${page == userPage.number} ? 'active'">
                        <a class="page-link" th:href="@{/user/users(role=${role}, page=${page}, size=${userPage.size})}"
                           th:text="${page + 1}">1</a>
                    </li>
                    <li class="page-item" th:classappend="${!userPage.hasNext()} ? 'disabled'">
                        <a class="page-link" th:href="@{/user/users(role=${role}, page=${userPage.number + 1}, size=${userPage.size})}" aria-label="Next Page">Next</a>
                    </li>
                </ul>
            </nav>
        </div>
    </section>
</main>
</body>
</html>