<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org" lang="en">
<head th:fragment="head">
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <link rel="stylesheet" th:href="@{/css/style.css}">
    <link rel="stylesheet" th:href="@{/css/base.css}">
    <script th:src="@{/js/base.js}"></script>
    <title th:text="${pageTitle}">Page Title</title>
</head>
<header th:fragment="navigation" class="navigation-navbar">
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container-fluid">
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav me-auto">
                    <li class="nav-item" th:if="${isAdmin}">
                        <a th:href="@{/user/users/create}" class="nav-link">Create new User</a>
                    </li>
                    <li class="nav-item">
                        <a th:href="@{/api/form-users}" class="nav-link">View Form Users</a>
                    </li>
                    <li class="nav-item" th:if="${isAdmin}">
                        <a th:href="@{/user/users(role='admin')}" class="nav-link" th:text="'View admins'">View Admins List</a>
                    </li>
                    <li class="nav-item">
                        <a th:href="@{/user/users(role='merchant')}" class="nav-link" th:text="'View merchants'">View Merchants List</a>
                    </li>
                    <li class="nav-item">
                        <a th:href="@{/reports}" class="nav-link">View Reports</a>
                    </li>
                    <li class="nav-item">
                        <a th:href="@{/documents/documents-list}" class="nav-link">View Documents List</a>
                    </li>
                    <li class="nav-item">
                        <a th:href="@{/documents/upload-document}" class="nav-link">Upload Document</a>
                    </li>
                </ul>
                <ul class="navbar-nav ms-auto">
                    <li class="nav-item">
                        <a th:href="@{/home}" class="nav-link">Home</a>
                    </li>
                    <li class="nav-item">
                        <a th:href="@{/user/users/{id}(id=${currentUser.id})}" class="nav-link" th:text="${currentUser.username}">User Name</a>
                    </li>
                    <li class="nav-item">
                        <a th:href="@{/logout}" class="nav-link">Logout</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</header>
<body>
</body>
<footer>
</footer>
</html>
