<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org" lang="en">
<head th:fragment="head">
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <link rel="stylesheet" th:href="@{/css/style.css}">
    <link rel="stylesheet" th:href="@{/css/base.css}">
    <script th:src="@{/js/base.js}"></script>
    <title th:text="${pageTitle}">Page Title</title>
</head>
<header th:fragment="navigation" class="navigation-navbar">
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container-fluid">
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav me-auto">
                    <li class="nav-item" th:if="${isAdmin}">
                        <a th:href="@{/user/users/create}" class="nav-link">Create new User</a>
                    </li>
                    <li class="nav-item" th:if="${isAdmin}">
                        <a th:href="@{/user/users(role='admin')}" class="nav-link" th:text="'View admins'">View Admins List</a>
                    </li>
                    <li class="nav-item">
                        <a th:href="@{/user/users(role='merchant')}" class="nav-link" th:text="'View merchants'">View Merchants List</a>
                    </li>
                    <li class="nav-item">
                        <a th:href="@{/reports}" class="nav-link">View Reports</a>
                    </li>
                    <li class="nav-item">
                        <a th:href="@{/documents/documents-list}" class="nav-link">View Documents List</a>
                    </li>
                    <li class="nav-item">
                        <a th:href="@{/documents/upload-document}" class="nav-link">Upload Document</a>
                    </li>
                </ul>
                <ul class="navbar-nav ms-auto">
                    <li class="nav-item">
                        <a th:href="@{/home}" class="nav-link">Home</a>
                    </li>
                    <li class="nav-item">
                        <a th:href="@{/user/users/{id}(id=${currentUser.id})}" class="nav-link" th:text="${currentUser.username}">User Name</a>
                    </li>
                    <!-- Notification Dropdown Icon -->
                    <li class="nav-item dropdown">
                        <a data-mdb-dropdown-init class="me-3 dropdown-toggle hidden-arrow nav-link" href="#" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            <i class="fas fa-bell"></i>
                            <!-- Dynamically update the notification badge -->
                            <span class="badge rounded-pill badge-notification bg-danger" id="notificationBadge">0</span>
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink" id="notificationPanel">
                            <!-- Notification list items will be dynamically inserted here -->
                            <li id="noNotifications" style="display: none;">
                                <a class="dropdown-item">You don't have any notifications.</a>
                            </li>
                            <li id="notificationList">
                                <!-- Notifications will be appended here -->
                            </li>
                        </ul>
                    </li>
                    <li class="nav-item">
                        <a th:href="@{/logout}" class="nav-link">Logout</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</header>
<body>
    <!-- Include Bootstrap JS and FontAwesome for icons -->
    <script src="path/to/bootstrap.bundle.min.js"></script>
    <script src="https://kit.fontawesome.com/a076d05399.js"></script>
</body>
<footer>
</footer>
</html>