<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Documents List</title>
    <script th:src="@{/js/documents-list.js}"></script>
    <link rel="stylesheet" th:href="@{/css/documents-list.css}">
</head>
<head th:replace="layout/base :: head"></head>
<header th:replace="layout/base :: navigation"></header>
<main>
    <h1 th:text="${pageTitle}" class="text-center w-100 mt-3">List of Documents</h1>
    <section th:fragment="content">
        <div th:if="${isAdmin}">
            <form action="#" th:action="@{/documents/documents-list}" method="get">
                <label for="merchantId">Filter by Merchant:</label>
                <select name="merchantId" id="merchantId">
                    <option value="">All Merchants</option>
                    <option th:each="merchant : ${merchants}" th:value="${merchant.id}"
                            th:text="${merchant.username}"></option>
                </select>
            </form>
        </div>

        <table>
            <thead>
            <tr>
                <th>Document Name</th>
                <th>Uploaded</th>
                <th th:if="${isAdmin}">Merchant Name</th>
                <th>Action</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="document : ${documents}">
                <td th:text="${document.name}">Document Name</td>
                <td th:text="${document.formattedUploadTime}">Upload Time</td>
                <td th:if="${isAdmin}" th:text="${document.uploadedBy}">Merchant Name</td>
                <td>
                    <a th:href="@{/documents/download/{documentId}(documentId=${document.id})}">Download</a>
                </td>
            </tr>
            <tr th:if="${#lists.isEmpty(documents)}">
                <td colspan="4">No documents found</td>
            </tr>
            </tbody>
        </table>
    </section>

    <div>
    <span th:if="${documents.hasPrevious()}">
    <a th:href="@{/documents/documents-list(page=${documents.number - 1}, size=${documents.size}, merchantId=${param.merchantId})}">Previous</a>
    </span>
        <span th:if="${documents.hasNext()}">
    <a th:href="@{/documents/documents-list(page=${documents.number + 1}, size=${documents.size}, merchantId=${param.merchantId})}">Next</a>
    </span>
    </div>
    <a href="#" onclick="history.back()">Back</a>
</main>
</html>
