.navigation-navbar {
    width: -webkit-fill-available;
}

.bg-light{
    background: radial-gradient(circle, rgba(208, 165, 226, 1) 0%, rgba(199, 179, 212, 0.07326680672268904) 100%);
}

@media (max-width: 768px) {
    button:hover {
        background-color: inherit;
    }

    .navbar-toggler-icon {
        display: flex;
    }

    .navbar {
        width: fit-content;
    }

    .navbar-toggler:hover {
        text-decoration: none !important;
    }
}
