main {
    background: none !important;
    box-shadow: none !important;
    width: 100% !important;
}

form {
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 8px;
}

.form-group {
    display: flex;
    align-items: center;
    margin-bottom: 15px;
}

.form-group label {
    width: max-content;
    margin-right: 10px;
}

.form-group input {
    flex: 1;
    padding: 5px;
    margin: 0;
}

.checkbox-group {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.checkbox-group label {
    width: auto;
    margin-right: 10px;
}

.submit_button {
    display: flex;
    justify-content: center;
    margin: 10px;
}

.submit-btn {
    padding: 10px 15px;
}

.error-message {
    color: red;
    font-size: 0.9em;
    margin-top: 5px;
    margin-bottom: 10px;
}