button {
    padding: 0!important;
    border: none!important;
    border-radius: 0!important;
    background-color: unset!important;
}

table {
   margin: 0!important;
}

.table thead th {
    position: relative!important;
    vertical-align: baseline!important;
}

.table thead th input,
.table thead th select {
    width: max-content!important;
    box-sizing: border-box!important;
}

.filter-container {
    display: flex;
    align-items: center;
    gap: 5px;
}

.filter-container input,
.filter-container select {
    margin-top: 2px;
}

.form-control.form-control-sm{
    margin:0!important;
}

form {
    box-shadow: none!important;
}

.btn-secondary{
   color: black!important;
}
@media only screen and (max-width: 768px) {
  .button-table {
      padding: 5px 15px;
  }

  .filter-container {
      display: flow;
  }
}
