button {
    padding: 0!important;
    border: none!important;
    border-radius: 0!important;
    background-color: unset!important;
}

@media only screen and (max-width: 768px) {
  .button-table {
      padding: 5px 15px;
  }
}
